<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <title>Charts.Js </title>
</head>
<style>
    div {
        margin-top: 15px;
    }
    div.container {
        
        border: none;
        width: 50%;
        box-shadow: 10px 10px 8px grey;
        float: left;
        margin-top: 20px;
        margin-left: 30px;
        background-color: white;
        
        height: auto;
        border-radius: 5px;
        margin-bottom: 15px;
        
        
        

    }

    div.container.one {

        width: 25%;
        float: left;
        padding: 1%;
        margin-left: 5px;
        
        


    }
 
   

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: rgb(31, 31, 28);
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: #49ad4c;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover {
        background-color: #111;
    }
    table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #4CAF50;
  color: white;
}
</style>
<body style="background-color: #e8e8e8 ;">
    <ul style="background-color: rgb(46, 44, 44); ">
        <h3 style="text-align: center;color:white;max-height: 0px;">Northwind Data Charts</h3>
        <li><a href="#home">Home</a></li>
        <li><a href="#news">Charts</a></li>
        <li><a href="#contact">Contact</a></li>
        <li style="float:right"><a class="active" href="#about">About</a></li>
      </ul>



        <div class="container" ><canvas id="myChart3" ></canvas>
              <script>
var ctx = document.getElementById('myChart3').getContext('2d');
var myChart3 = new Chart(ctx, {
    type: 'line',
    data: {
        labels: {{ Shipped_Date | safe }},
        datasets: [{
            label: 'Sales By Date',
            data: {{ TotalSaless | safe }},
            backgroundColor: [
                'rgba(255, 99, 132, 0.6)',
                'rgba(54, 162, 235, 0.4)',
                'rgba(255, 206, 86, 0.4)',
                'rgba(75, 192, 192, 0.4)',
                'rgba(153, 102, 255, 0.4)',
                'rgba(255, 159, 64, 0.4)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script></div>

        <div class="container one" > <canvas id="myChart4" ></canvas>
              <script>
var ctx = document.getElementById('myChart4').getContext('2d');
var myChart4 = new Chart(ctx, {
    type: 'horizontalBar',
    data: {
        labels: {{ MonthlysalesMonths | safe }},
        datasets: [{
            label: 'Sales By Monthly',
            data: {{ Monthlysalestotal | safe }},
            backgroundColor: [
                'rgba(255, 99, 132, 0.4)',
                'rgba(54, 162, 235, 0.4)',
                'rgba(255, 206, 86, 0.4)',
                'rgba(75, 192, 192, 0.4)',
                'rgba(153, 102, 255, 0.4)',
                'rgba(255, 159, 64, 0.4)'

            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 0.8)',
                'rgba(153, 102, 255, 0.8)',
                'rgba(255, 159, 64, 0.8)'

            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>
        <canvas id="myChart8" ></canvas>
              <script>
var ctx = document.getElementById('myChart8').getContext('2d');
var myChart4 = new Chart(ctx, {
    type: 'horizontalBar',
    data: {
        labels: {{ Yearsales | safe }},
        datasets: [{
            label: 'Sales By Year',
            data: {{ Yearsalestotal | safe }},
            backgroundColor: [
                'rgba(255, 99, 132, 0.4)',
                'rgba(54, 162, 235, 0.4)',
                'rgba(255, 206, 86, 0.4)',
                'rgba(75, 192, 192, 0.4)',
                'rgba(153, 102, 255, 0.4)',
                'rgba(255, 159, 64, 0.4)'

            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 0.8)',
                'rgba(153, 102, 255, 0.8)',
                'rgba(255, 159, 64, 0.8)'

            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script></div>
<div style="float: left; ;margin-left:30px ;">
<div class="container one;" style="height: auto; width: 250px; float:none; margin-left: 4px; background-color: rgba(255, 99, 132, 0.7);" ><br> <br><h3 style="color: white; text-align :center;padding:1px">  Total Sales (All)  <br> {{ TotalAllSales }} TL <br></h3><br></div>
<div class="container one;" style="height: auto; width: auto; float:none; margin-left: 4px; background-color: rgba(255, 99, 132, 0.7);" ><br> <br><h3 style="color: white; text-align :center;"> {{ThisMonth}} Total Sales <br> {{ ThisMonthTotalSales }} TL <br></h3><br></div>
</div>
    </div>
    <div style="margin-top:0px">
        <div class="container " style= "width: 50%; margin-top: 0px; height:420px" > <canvas id="myChart" ></canvas>
            <script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: {{ Company | safe }},
        datasets: [{
            label: 'Sales By Customers',
            data: {{ TotalSales | safe }},
            backgroundColor: [
                'rgba(255, 99, 132, 0.4)',
                'rgba(54, 162, 235, 0.4)',
                'rgba(255, 206, 86, 0.4)',
                'rgba(75, 192, 192, 0.4)',
                'rgba(153, 102, 255, 0.4)',
                'rgba(255, 159, 64, 0.4)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script></div>
        <div class="container one" style= "width: 47%;margin-top: 0px;height:420px;">Top 5 Products <canvas id="myChart2" ></canvas>

             <script>
var ctx = document.getElementById('myChart2').getContext('2d');
var myChart2 = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: {{ Product_Name | safe }},
        datasets: [{
            label: 'Top 5 Products',
            data: {{ Total_Units_Sold | safe }},
            backgroundColor: [
                'rgba(255, 99, 132, 0.4)',
                'rgba(54, 162, 235, 0.4)',
                'rgba(255, 206, 86, 0.4)',
                'rgba(75, 192, 192, 0.4)',
                'rgba(153, 102, 255, 0.4)',
                'rgba(255, 159, 64, 0.4)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: true
    }
});
</script></div>
    </div>

<div>    <div class="container"  ><canvas id="myChart10" ></canvas>

        <script>
var ctx = document.getElementById('myChart10').getContext('2d');
var myChart10 = new Chart(ctx, {
type: 'radar',
data: {
   labels: {{ Suppliers | safe }},
   datasets: [{
       label: 'Suppliers',
       data: {{ salesbysuppliersale | safe }},
       backgroundColor: [
           'rgba(255, 99, 132, 0.4)',
           'rgba(54, 162, 235, 0.4)',
           'rgba(255, 206, 86, 0.4)',
           'rgba(75, 192, 192, 0.4)',
           'rgba(153, 102, 255, 0.4)',
           'rgba(255, 159, 64, 0.4)'
       ],
       borderColor: [
           'rgba(255, 99, 132, 1)',
           'rgba(54, 162, 235, 1)',
           'rgba(255, 206, 86, 1)',
           'rgba(75, 192, 192, 1)',
           'rgba(153, 102, 255, 1)',
           'rgba(255, 159, 64, 1)'
       ],
       borderWidth: 1
   }]
},
options: {
   scales: false
}
});
</script></div>
    <div class="container" style="float:left; width: 47%;margin-left:5px;">Sales by Cities<canvas id="myChart12" ></canvas>

        <script>
        var ctx = document.getElementById('myChart12').getContext('2d');
        var myChart12 = new Chart(ctx, {
        type: 'polarArea',
        data: {
        labels: {{ cities | safe }},
        datasets: [{
        label: 'Top 5 Products',
        data: {{ salesCitysales | safe }},
        backgroundColor: [
           'rgba(255, 99, 132, 0.4)',
           'rgba(54, 162, 235, 0.4)',
           'rgba(255, 206, 86, 0.4)',
           'rgba(75, 192, 192, 0.4)',
           'rgba(153, 102, 255, 0.4)',
           'rgba(255, 159, 64, 0.4)',
            'rgba(255, 99, 132, 0.4)',
           'rgba(54, 162, 235, 0.4)',
           'rgba(255, 206, 86, 0.4)',
           'rgba(75, 192, 192, 0.4)',
            'rgba(255, 99, 132, 0.4)',
           'rgba(54, 162, 235, 0.4)',
           'rgba(255, 206, 86, 0.4)',
           'rgba(75, 192, 192, 0.4)',

        ],
        borderColor: [
           'rgba(255, 99, 132, 1)',
           'rgba(54, 162, 235, 1)',
           'rgba(255, 206, 86, 1)',
           'rgba(75, 192, 192, 1)',
           'rgba(153, 102, 255, 1)',
           'rgba(255, 159, 64, 1)'
        ],
        borderWidth: 1
        }]
        },
        options: {
        scales: false
        }
        });
        </script></div></div>  <br>  
<div class="container " style="overflow-x:auto;width:60%;height: 640px;">
    <table>Top 5 Employees
        <tr>
          <th>Employee Id</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Sales</th>
        </tr>
        <tr>
          {% for i in employee0 %}
          <td>{{i}}</td>
          {% endfor %}
          </tr>
        <tr>
          {% for i in employee1 %}
          <td>{{i}}</td>
          {% endfor %}
          </tr>
        <tr>
          {% for i in employee2 %}
          <td>{{i}}</td>
          {% endfor %}
          </tr>
        <tr>
          {% for i in employee3 %}
          <td>{{i}}</td>
          {% endfor %}
          </tr>
        <tr>
          {% for i in employee4 %}
          <td>{{i}}</td>
          {% endfor %}
          </tr>
    
    </table> 
    <table>Latest Orders
        <tr>
          <th>Order Date</th>
          <th>Product Name</th>
          <th>Quantity</th>
          <th>Unit Price</th>
          <th>Price</th>
          <th>Order Status</th>
        </tr>
        <tr>
          {% for i in LatestOrder0 %}
          <td>{{i}}</td>
          {% endfor %}
          </tr>
        <tr>
          {% for i in LatestOrder1 %}
          <td>{{i}}</td>
          {% endfor %}
          </tr>
        <tr>
          {% for i in LatestOrder2 %}
          <td>{{i}}</td>
          {% endfor %}
          </tr>
        <tr>
          {% for i in LatestOrder3 %}
          <td>{{i}}</td>
          {% endfor %}
          </tr>
        <tr>
          {% for i in LatestOrder4 %}
          <td>{{i}}</td>
          {% endfor %}
          </tr>
    
    </table>   
</div>
<div class="container" style="float:left; width: 35%;margin-left:5px;height: 640px;">Shipper Company<canvas id="myChart13" ></canvas>

    <script>
    var ctx = document.getElementById('myChart13').getContext('2d');
    var myChart12 = new Chart(ctx, {
    type: 'doughnut',
    data: {
    labels: {{ ShipperCompany | safe }},
    datasets: [{
    label: 'Shipper Company',
    data: {{ ShipperQuantity | safe }},
    backgroundColor: [
       'rgba(255, 99, 132, 0.4)',
       'rgba(54, 162, 235, 0.4)',
       'rgba(255, 206, 86, 0.4)',
       'rgba(75, 192, 192, 0.4)',
       'rgba(153, 102, 255, 0.4)',
       'rgba(255, 159, 64, 0.4)',
        'rgba(255, 99, 132, 0.4)',
       'rgba(54, 162, 235, 0.4)',
       'rgba(255, 206, 86, 0.4)',
       'rgba(75, 192, 192, 0.4)',
        'rgba(255, 99, 132, 0.4)',
       'rgba(54, 162, 235, 0.4)',
       'rgba(255, 206, 86, 0.4)',
       'rgba(75, 192, 192, 0.4)',

    ],
    borderColor: [
       'rgba(255, 99, 132, 1)',
       'rgba(54, 162, 235, 1)',
       'rgba(255, 206, 86, 1)',
       'rgba(75, 192, 192, 1)',
       'rgba(153, 102, 255, 1)',
       'rgba(255, 159, 64, 1)'
    ],
    borderWidth: 1
    }]
    },
    options: {
    scales: true
    }
    });
    </script> Sales By Category<canvas id="myChart14" ></canvas>
            <script>
var ctx = document.getElementById('myChart14').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'horizontalBar',
    data: {
        labels: {{ Catagory | safe }},
        datasets: [{
            label: 'Sales By Category',
            data: {{ SalesCatagory | safe }},
            backgroundColor: [
                'rgba(255, 99, 132, 0.4)',
                'rgba(54, 162, 235, 0.4)',
                'rgba(255, 206, 86, 0.4)',
                'rgba(75, 192, 192, 0.4)',
                'rgba(153, 102, 255, 0.4)',
                'rgba(255, 159, 64, 0.4)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script></div>
</body>

</html>